.appguid {
  display: flex;
  height: 432px;
  background-color: #f0f1f6;
  border-top: 1px solid #eee;
}
.appguid_wrap {
  align-items: center;
  padding: 56px 18px;
  margin: 0px auto;
}
.appguid_box {
  align-items: center;
  display: flex;
  /* justify-content: flex-start; */
  width: 1024px;
  height: 320px;
  border-radius: 20px;
  background-color: #fff;
  gap: 30px;
  padding: 40px;
}
.appguid_photo {
}
.appguid_photo img {
  width: 360px;
  height: 240px;
}
.appguid_group {
}
.appguid_text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.appguid_title {
  font-size: 24px;
  color: #1c1c1c;
  font-weight: 700;
}
.appguid_sub {
  font-size: 16px;
  color: #777;
}
.appguid_install {
}
.appguid_install a {
}
.appguid_install img {
}
.appguid_install span {
}
