.notice {
  position: relative;
  height: 523px;
  background-color: #f7f7ff;
  border-top: 1px solid #eee;
}
.notice_layout {
  align-items: center;
  margin: 0px auto;
  width: 1024px;
  padding: 56px 16px;
}
.notice_title {
  display: flex;
  gap: 6px;

  margin-left: 8px;
  padding-bottom: 25px;
  font-size: 24px;
  color: #1c1c1c;
}
.notice_title_span {
  color: #5a6af9;
}
.notice_bottom {
  display: flex;
  width: 922px;
  height: 351px;
  cursor: pointer;
  margin: 0;
}
.notice_bottom_wrap {
  padding: 8px 8px 12px;
  width: 242px;
  height: 351px;
}
.notice_info {
  padding-bottom: 12px;
  border: #e5e7eb;
}
.notice_info img {
  width: 224px;
  height: 224px;
  object-fit: cover;

  border-radius: 10px;
  border: 1px solid #eee;
}
.notice_tag {
  position: relative;
}
.notice_tag_activity {
  padding: 5px;
  background-color: #f2eefb;
  font-size: 11px;
  font-weight: 500;
  color: #5f26cd;
  border-radius: 5px;
  font-weight: 500;
}
.notice_tag_ad {
  padding: 2.5px 4px;
  position: absolute;

  right: 8px;
  background-color: #dedee5;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  border-radius: 8px;
}
.notice_bottom_title {
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.notice_badge {
  margin-right: 4px;
  padding: 1.5px 3px;
  border: 1px solid #fe6d6d;
  font-size: 10px;
  font-weight: 700;
  color: #fe6d6d;
  border-radius: 8px;
  box-sizing: border-box;
}
.notice_text {
  margin: 0;
  font-size: 15px;
  color: #444;
  font-weight: 500;
}
.notice_dday {
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
}

html,
body {
  overflow-y: auto;
  height: 100%;
}
